@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu&display=swap');
header img {
    max-width: 100px;
    margin: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px #000000;
}

.picture {
    grid-column: 1 / 2;
    grid-row: 1/4;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-height: 150px;
    align-items: center;
}

.name {
    grid-column: 2 / 4;
    grid-row: 2/3;
    align-items: center;
    text-align: center;
}

header,
main,
footer {
    margin: 1.25rem auto;
    max-width: 400px;
    font-family: sans-serif;
}

header,
footer {
    background-color: mediumspringgreen;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #000000;
}

footer {
    text-align: center;
    padding: 5px;
}

#copy {
    color: black;
    font-size: 1rem;
    margin: initial;
}

.update {
    color: hotpink;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 5px;
}

.info {
    font-size: 12px;
    color: gray;
}

.list {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}