@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Saira+Condensed&family=Yesteryear&display=swap');
header,
main,
footer {
    margin: 1rem auto;
    max-width: auto;
    min-width: auto;
    font-family: sans-serif;
    padding: 0.5rem;
    ;
}

.cont {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

body {
    background-color: #DEF5F3;
    min-width: 390px;
}

.image {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tholder {
    background-color: #543E5A;
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
}

.holder {
    background-color: #f3e8f8;
    min-width: 1/3;
    text-align: center;
    align-content: center;
    box-shadow: 0px 0px 10px #54378A;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
}

.container {
    display: flex;
}

header,
footer {
    background-color: #543E5A;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px #54378A;
    text-align: center;
}

h3 {
    color: #ffffff;
    text-shadow: 0px 0px 3px #ECFF15;
    font-family: 'Yesteryear', cursive;
    font-size: 2rem;
    margin: 0.5rem;
}

.holder p {
    color: #2C315F;
    font-family: 'Saira Condensed', sans-serif;
}

.holder img {
    height: auto;
    max-width: 100%;
}

footer p,
h1,
h2 {
    color: #ffffff;
    text-shadow: 0px 0px 5px #ECFF15;
    font-family: 'Roboto Mono', monospace;
}

.text p {
    font-size: 18px;
}

.text {
    padding: 5px;
}

@media only screen and (max-width: 1000px) {
    .cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #prin3 {
        grid-column: span 2;
    }
    footer,
    header,
    .holder {
        padding: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .cont {
        display: inline-grid;
        grid-template-columns: 1fr;
    }
    #prin3 {
        grid-column: span 1;
    }
    footer,
    header,
    .holder {
        padding: 15px;
    }
}