header,
main,
footer {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: auto;
    min-width: auto;
    padding: 0.5rem;
}

main {
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    background-color: #f1f5ec;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #495159;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
    color: #495159;
}

.scheme {
    max-width: 90%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.topnav {
    background-color: #495159;
    overflow: hidden;
    justify-content: center;
}

.topnav a {
    float: left;
    color: #5deaa3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #5deaa3;
    color: rgb(21, 19, 19);
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.coloredp {
    background-color: #495159;
    color: #5deaa3;
}

.coloredp2 {
    background-color: #5deaa3;
    color: #495159;
}

.primary {
    background-color: #495159;
}

.secondary {
    background-color: #5DEAA3;
}

.accent1 {
    background-color: #C3D2D5;
}

.accent2 {
    background-color: #04AA6D;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

ul li {
    color: #495159;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

footer,
header {
    background-color: #c3d2d5;
    overflow: hidden;
    text-align: center;
}

.color-cont img {
    background-color: #495159;
    padding: 1em;
}

@media only screen and (max-width: 600px) {
    nav ul {
        display: grid;
    }
}